<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <title>Soldman</title>
  <link rel="stylesheet" href="client/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

  <header class="hero">

    <section class="hero__container container">
      
      <figure class="hero__picture">
          <img src="client/imagenes/LogoSinFondo.png" class="hero__img">
      </figure>

      <h1 class="hero__title">SOLDMAN</h1>
      <p class="hero__paragraph">Si tienes un problema con tus dispositivos nosotos te podemos ayudar, envianos mensaje</p>

      <div class="buttons">
          <a href="/login" class="buttons__cta">Iniciar sesión </a>
          <a href="/register" class="buttons__cta buttons__cta--blue">Registrarse</a>
      </div>
    </section>

  </header>

  <main class="main">
    <section class="track container">

      <div class="track__texts">
        <h2 class="title">Resuelve los problemas de hardware y software de tu dispositivo</h2>
        <p class="paragraph">Brindamos soporte técnico por horas o mensual, asesoría honesta, oportuna,
          un servicio eficiente, ético y profesional en soluciones adecuadas a sus necesidades tecnólogicas.
          </p>
      </div>

      <figure class="track__picture">
        <img src="client/imagenes/soporteTecnico.jpg" class="track__img">
      </figure>

      <article class="track__articles">


        <div class="track__item">
          
          <h3 class="track__offer">Servicio y Atención a Usuarios Remotamente</h3>
          <p class="track__copy"> No solo se trata de atender sino de saber y resolver, armonizando la tecnología con las necesidades y requerimientos de cada uno de nuestros usuarios.</p>

        </div>

        <div class="track__item">
          
          <h3 class="track__offer">Problemas de Hardware y Software</h3>
          <p class="track__copy"> Atención de fallos en aplicaciones, mantenimiento preventivo y correctivo, seguridad y gestión de sitios web.
          </p>

        </div>

        <div class="track__item">
          
          <h3 class="track__offer"> Respuesta Rápida con Profesionales</h3>
          <p class="track__copy">Comunicación vía chat con tecnicos especializados de 2 a 24 horas de respuesta según la severidad.</p>

        </div>


      </article>

    </section>

    <section class="clipboard container">

      <h2 class="title">Servicio eficiente y conectado</h2>
      <p class="paragraph">Buscamos proporcionarte un servicio integral con canales para la recepción y/o emisión de la información a través de llamadas telefónicas, correos electrónicos, además con comunicaciones online incluyendo la mensajería instantánea.</p>
      <figure class="clipboard__picture">
        <img src="client/imagenes/soporteRemoto.jpg" class="clipboard__img">
      </figure>     

    </section>
  </main>
  
  <footer class="footer">

    <section class="footer__container container">

      <!-- <figure class="footer__picture">
        <img src="images/LogoSinFondoRecortado.png" class="footer__img">
      </figure> -->

      <div class="footer__links">
          
      </div>

      

    </section>

  </footer>



</body>

</html>