<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Mostrar mensajes</title>
        <link rel="stylesheet" href="css/mostrarMensajes.css">
    </head>
    <body>        
       
        <h1 style="text-align: center;">Mensajes</h1>
       
        <div class="tarjeta-mensaje">
            <div class="nombre-mensaje">
                <h3>Nombre: </h3>
            </div>
            <br>
            <div class="contenido-mensaje">
                <h3>Mensaje: </h3>
            </div>
            <br>
            <div class="contenido-borrar">
                <a href="" class="borrar">Borrar</a>
                <a href="" class="responder">Responder</a>
            </div>
            <br>
        </div>
        <br>
        <br>
        <%}%>

        <div style="text-align: center;">
            <a href="mostrarUsuarios.jsp" class="volver">Volver</a>
        </div>
        <br><br>
    </body>
</html>
