<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/updateUser/<%=user.id%>" enctype="multipart/form-data">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" value="<%=user.nombre%>">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="<%=user.email%>">
        </div>

        <div>
            <label for="passw">Contraseña</label>
            <input type="text" name="passw" id="passw" value="<%=user.passw%>">
        </div>

        <div>
            <input type="submit" value="Actualizar">
        </div>

    </form>
</body>
</html>